[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"

[dev-packages]
pyinstaller = "*"
micropipenv = "*"
wheel = "*"
pytest = "*"
pylint = "*"

[requires]
